version: "3.8"
services:

  proxy-example:
    build:
      context: .
      dockerfile: proxy.Dockerfile
    container_name: ses-proxy-example
    env_file:
      - example.org.env
    restart: unless-stopped