AWS_ACCESS_KEY_ID=abcdef
AWS_SECRET_ACCESS_KEY=abcdef
AWS_DEFAULT_REGION=eu-west-2
S3_BUCKET_NAME=example-organisation-mail-temp-bucket
POSTMASTER_MAILBOX=postmaster@example.org

SMTP_HOST=postfix
SMTP_PORT=25
# STMP_USER=postmaster@example.org
# SMTP_PASSWORD=abcdef